doctype xml
Response
  Say(voice='alice').
    Thanks for contacting our sales department. If this were a real click to call
    application, we would redirect your call to our sales team right now using
    the Dial tag.

  // To dial another number, you would uncomment the <Dial> below and replace
  // +16519991111 with the number of your sales/support line
  // Dial +16519991111